<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trainer Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="../../dist/tailwind.css">
</head>

<body class="bg-gray-100">

    <!-- Dashboard Header -->
    <header class="bg-orange-700 text-white py-4 shadow-lg">
        <div class="container mx-auto flex justify-between items-center ml-5">
            <h1 class="text-xl font-bold">Trainer Dashboard</h1>
        </div>
    </header>

    <!-- Main Content -->
    <main class="container mx-auto py-8">
        <div class="bg-white p-6 rounded-lg shadow-lg">
            <h2 class="text-2xl font-bold mb-6">Students</h2>

            <!-- Students Table -->
            <div class="overflow-x-auto">
                <table id="userTable" class="min-w-full bg-white">
                    <thead>
                        <tr>
                            <th class="py-2 px-4 border-b border-gray-200">ID</th>
                            <th class="py-2 px-4 border-b border-gray-200">Gym</th>
                            <th class="py-2 px-4 border-b border-gray-200">Name</th>
                            <th class="py-2 px-4 border-b border-gray-200">Weight</th>
                            <th class="py-2 px-4 border-b border-gray-200">Bodytype</th>
                            <th class="py-2 px-4 border-b border-gray-200">Actions</th>
                        </tr>
                    </thead>
                    <tbody id="data-table-body">
                        <!-- Table rows will be dynamically added here -->
                    </tbody>
                </table>
            </div>
        </div>

        <!--POPUP-->
        <div id="popup-modal" class="fixed inset-0 bg-black bg-opacity-50 justify-center items-center hidden">
            <div class="bg-orange-700 p-8 rounded-lg w-96 relative">
                <button id="close-btn"
                    class="absolute top-2 right-2 text-black hover:text-white font-bold text-xl">X</button>
                <h2 class="text-center font-bold text-xl mb-4 text-white">Create Customized Workout Plan</h2>
                <div class="bg-white p-4 rounded-lg">
                    <div class="mb-4">
                        <label id="week" class="block font-bold text-lg">Week 1</label>
                    </div>
                    <div class="flex justify-between items-center mb-4">
                        <label class="block font-bold">Day:</label>
                        <select id="day" class="ml-2 p-2 border rounded-lg">
                            <option>Day 1</option>
                            <option>Day 2</option>
                            <option>Day 3</option>
                            <option>Day 4</option>
                            <option>Day 5</option>
                            <option>Day 6</option>
                            <option>Day 7</option>
                            <!-- Add more days as needed -->
                        </select>
                    </div>
                    <div class="mb-4">
                        <label class="block font-bold">Exercise:</label>
                        <select id="exc-select" class="w-full p-2 border rounded-lg"></select>
                    </div>
                    <div class="mb-4">
                        <label class="block font-bold">Reps:</label>
                        <input id="reps" type="number" class="w-full p-2 border rounded-lg">
                    </div>
                    <div class="mb-4">
                        <label class="block font-bold">Sets:</label>
                        <input id="sets" type="number" class="w-full p-2 border rounded-lg">
                    </div>
                    <div class="flex justify-between">
                        <button class="bg-yellow-300 text-black px-4 py-2 rounded-lg">Mark as Rest Day</button>
                        <button id="submit" class="bg-green-500 text-white px-4 py-2 rounded-lg">Add</button>
                    </div>
                </div>
            </div>
        </div>

    </main>

</body>
<script>
    document.addEventListener('DOMContentLoaded', async () => {
        try {
            const response = await axios.get('http://localhost:3000/members');
            const data = response.data;
            const tableBody = document.getElementById('data-table-body');

            data.forEach(row => {
                const tableRow = document.createElement('tr');
                tableRow.innerHTML = `
                <td>${row.member_id}</td>
                <td>${row.gym}</td>
                <td>${row.lastname}, ${row.firstname}</td>
                <td>${row.weight}</td>
                <td>${row.bodytype}</td>
                <td>
                    <div class="flex justify-center space-x-3">
                        <button class="bg-orange-700 text-white px-4 py-2 rounded-lg mr-2">Add Plan</button>
                        <button class="Customized-plan bg-orange-700 text-white px-4 py-2 rounded-lg mr-2" onclick="openForm(${row.member_id})"">Add Customized Plan</button>
                    </div>
                </td>
            `;
                tableBody.appendChild(tableRow);
            });
        } catch (error) {
            console.error('Error fetching data:', error);
        }
        document.getElementById('close-btn').addEventListener('click', function () {
            document.getElementById('popup-modal').classList.add('hidden');
        });
    });
    async function openForm(id) {
        const member_id = id;
        document.getElementById('popup-modal').classList.remove('hidden');
        const response = await axios.get('http://localhost:3000/exercises');
        const data = response.data;
        const exerciseSelect = document.getElementById("exc-select");
        // Clear previous options
        exerciseSelect.innerHTML = '';

        data.forEach(row => {
            const option = document.createElement('option');
            option.text = row.exercise;
            option.value = row.exercise_id;
            exerciseSelect.appendChild(option);
        });

        document.getElementById('submit').addEventListener('click', async function () {
            try {
                var memb_id = id;
                var excerciseID = document.getElementById("exc-select").value;
                var repss = document.getElementById("reps").value;
                var sets = document.getElementById("sets").value;
                var day = document.getElementById("day").value;
                var dayno = day.match(/\d+/)[0];
                var week = document.getElementById("week").innerHTML;
                var weekno = week.match(/\d+/)[0];
                const formData = {
                    member_id: memb_id,
                    exercise_id: excerciseID,
                    reps: repss,
                    sets: sets,
                    week_no: weekno,
                    day_no: dayno,
                    status: "Pending"
                };
                const response = await axios.post('http://localhost:3000/addCustomWorkout', formData);
                console.log(response.status);
                console.log('Form submitted successfully!', response.data);
                alert(`Workout submitted successfuly on user ID: ${memb_id}` )
                document.getElementById('popup-modal').classList.add('hidden');

            } catch (error) {
                console.log("shet error ka")
                console.error('Error submitting form:', error);
            }
        });
    }


</script>

</html>