<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trainer Portal</title>
  <link rel="stylesheet" href="../../dist/tailwind.css">
  <link
    href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jwt-decode/build/jwt-decode.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/frontend/scripts/auth.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body class="min-h-screen font-[Poppins] bg-customGray">

  <!--Header-->
  <nav class="fixed top-0 z-50 w-full shadow-md dark:bg-customGray">
    <div class="px-3 py-3 lg:px-5 lg:pl-3">
      <div class="flex items-center justify-between">
        <div class="flex items-center justify-start rtl:justify-end">
          <button data-drawer-target="logo-sidebar" id="sidebarToggle" data-drawer-toggle="logo-sidebar"
            aria-controls="logo-sidebar" type="button"
            class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-customGray dark:focus:ring-gray-600">
            <span class="sr-only">Open sidebar</span>
            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path clip-rule="evenodd" fill-rule="evenodd"
                d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
              </path>
            </svg>
          </button>
          <a href="#" class="flex ms-2 md:me-24">
            <img src="../../img/LOGOTESTING.svg" class="h-8 me-3" alt="Flexperiece Logo" />
            <span
              class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:bg-gradient-to-br from-white to-customOrange bg-clip-text text-transparent">FLEXPERIENCE</span>
          </a>
        </div>
        <div class="flex items-center">
          <div class="flex items-center ms-3">
            <div class="mr-6 mt-1">
              <button>
                <ion-icon name="notifications" class="notif text-white text-xl"></ion-icon>
              </button>
            </div>
            <div>
              <button type="button" id="userDropdownToggle"
                class="flex text-sm bg-div_color rounded-full focus:ring-4 focus:ring-gray-300" aria-expanded="false"
                data-dropdown-toggle="dropdown-user">
                <span class="sr-only">Open user menu</span>
                <img class="w-8 h-8 rounded-full" src="../../img/heinzprof.jpg" alt="user photo">
              </button>
            </div>
            <div
              class="absolute top-[70%] right-0 z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow dark:bg-customGray dark:divide-gray-600"
              id="dropdown-user">
              <div class="px-4 py-3" role="none">
                <p class="text-sm text-gray-900 dark:text-white" role="none">
                  Heinz Padilla
                </p>
                <p class="text-sm font-medium text-gray-900 truncate dark:text-gray-300" role="none">
                  heinzpadilla2024@flexperience.com
                </p>
              </div>
              <ul class="py-1" role="none">
                <li>
                  <a href="#"
                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                    role="menuitem">Dashboard</a>
                </li>
                <li>
                  <a href="#"
                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                    role="menuitem">Settings</a>
                </li>
                <li>
                  <a href="#"
                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                    role="menuitem">Earnings</a>
                </li>
                <li>
                  <a href="index.html" onclick="removeCookie('accessToken');"
                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                    role="menuitem">Sign out</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <!--Sidebar-->
  <aside id="logo-sidebar"
    class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 mt-4 transition-transform -translate-x-full bg-customOrange sm:translate-x-0 rounded-l-lg dark:bg-customOrange aria-label="Sidebar">
    <div class="h-full px-3 pb-4 overflow-y-auto bg-white dark:bg-customOrange">
      <ul class="space-y-2 font-medium">
        <li>
          <a href="#"
            class="flex items-center p-2 bg-customGray text-white rounded-lg dark:text-white hover:bg-customGray dark:hover:bg-customGray group"
            onclick="setActive(this)">
            <ion-icon name="home-outline"
              class="w-5 h-5 text-white transition duration-75 dark:text-white group-hover:text-customGray dark:group-hover:text-white"
              aria-hidden="true"></ion-icon>
            <span class="mt-1 ms-3">Dashboard</span>
          </a>
        </li>
        <li>
          <a onclick="redirectFunction(1)"
            class="flex items-center p-2 text-white rounded-lg dark:text-white hover:bg-customGray dark:hover:bg-customGray group"
            onclick="setActive(this)">
            <ion-icon name="barbell-outline"
              class="w-5 h-5 text-white transition duration-75 dark:text-white group-hover:text-customGray dark:group-hover:text-white"
              aria-hidden="true"></ion-icon>
            <span class="mt-1 ms-3">Workout Plan</span>
          </a>
        </li>
        <li>
          <a onclick="redirectFunction(2)"
            class="flex items-center p-2 text-white rounded-lg dark:text-white hover:bg-customGray dark:hover:bg-customGray group"
            onclick="setActive(this)">
            <ion-icon name="egg-outline"
              class="w-5 h-5 text-white transition duration-75 dark:text-white group-hover:text-customGray dark:group-hover:text-white"
              aria-hidden="true"></ion-icon>
            <span class="mt-1 ms-3">Meal Plan</span>
          </a>
        </li>
        <li>
          <a href="students.html"
            class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-customGray dark:hover:bg-customGray group"
            onclick="setActive(this)">
            <ion-icon name="people-outline"
              class="w-5 h-5 text-white transition duration-75 dark:text-white group-hover:text-customGray dark:group-hover:text-white"
              aria-hidden="true"></ion-icon>
            <span class="mt-1 ms-3">Students</span>
          </a>
        </li>
        <li>
          <a href="chat.html"
            class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-customGray dark:hover:bg-customGray group"
            onclick="setActive(this)">
            <ion-icon name="chatbubbles-outline"
              class="w-5 h-5 text-white transition duration-75 dark:text-white group-hover:text-customGray dark:group-hover:text-white"
              aria-hidden="true"></ion-icon>
            <span class="mt-1 ms-3">Chat</span>
          </a>
        </li>
        <li>
          <a href="#"
            class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-customGray dark:hover:bg-customGray group"
            onclick="setActive(this)">
            <ion-icon name="settings-outline"
              class="w-5 h-5 text-white transition duration-75 dark:text-white group-hover:text-customGray dark:group-hover:text-white"
              aria-hidden="true"></ion-icon>
            <span class="mt-1 ms-3">Settings</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>

  <!--Dashboard Content-->
  <div class="sm:ml-64">
    <div class="m-4 p-6 border-dashed mt-20 ">
      <h1 class="text-4xl font-bold text-orange-400 dark:text-orange-400 mb-2">Good day, <span id="user-name"></span>!
      </h1>
      <p class="dark:text-gray-300 text-gray-700">Welcome to your dashboard. Here's where your main content will go.</p>
    </div>

    <div class="flex flex-col md:flex-col lg:flex-row justify-around gap-10 text-white w-auto h-auto m-4">
      <div class="w-full h-full shadow-lg">
        <div class="dark:bg-div_color text-sm h-64 overflow-y-auto border border-gray-500 rounded-t-lg">
          <h1 class="px-10 py-5 font-bold text-lg">
            Student Progress
          </h1>
          <div class="mt-5 flex-col">
            <div class="flex py-5 mx-10 px-5 hover:border dark:border-gray-500 hover:shadow-md cursor-pointer"
            onclick="studentProgress(this)">
              <div class="w-full">
                <h2 class="student-name">
                  Eric Ramones Jr.
                </h2>
              </div>
              <div class="w-full">
                <div class="w-auto bg-50 bg-opacity-50 rounded-full h-6 text-center">
                  <div class="bg-50 rounded-full h-6 w-[50%]">
                    <span class="text-sm font-medium">50%</span>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="flex py-5 mx-10 px-5 hover:border dark:border-gray-500 hover:shadow-md cursor-pointer" 
            onclick="studentProgress(this)">
              <div class="w-full">
                <h2 class="student-name">
                  Robert Jems
                </h2>
              </div>
              <div class="w-full">
                <div class="w-auto bg-50 bg-opacity-50 rounded-full h-6 text-center">
                  <div class="bg-50 rounded-full h-6 w-[50%]">
                    <span class="text-sm font-medium">50%</span>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="flex py-5 mx-10 px-5 hover:border dark:border-gray-500 hover:shadow-md cursor-pointer" 
            onclick="studentProgress(this)">
              <div class="w-full">
                <h2 class="student-name">
                  Heinztai Horakol
                </h2>
              </div>
              <div class="w-full">
                <div class="w-auto bg-50 bg-opacity-50 rounded-full h-6 text-center">
                  <div class="bg-50 rounded-full h-6 w-[50%]">
                    <span class="text-sm font-medium">50%</span>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        
        <div class="w-full dark:bg-div_color border border-gray-500 rounded-b-lg">
          <h1 class="text-center p-3">
            <span id="student">
              
            </span>
          </h1>

          <div class="mb-4 border-b border-gray-200 dark:border-gray-700">
            <ul class="flex text-center" id="default-tab" role="tablist">
              <!-- Workout Tab -->
              <li class="w-full" role="presentation">
                <button
                  class="tab-button inline-block p-4 w-full text-gray-600 dark:text-gray-300"
                  id="workout-tab"
                  onclick="tabChange('workout')">
                  Workout
                </button>
              </li>
              <!-- Meal Tab -->
              <li class="w-full" role="presentation">
                <button
                  class="tab-button inline-block p-4 w-full text-gray-600 dark:text-gray-300 hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
                  id="meal-tab"
                  onclick="tabChange('meal')">
                  Meal
                </button>
              </li>
            </ul>
          </div>
          
          <div>
            <!-- Workout Tab Content -->
            <div class=" p-4 rounded-lg bg-gray-50 dark:bg-div_color overflow-y-auto" id="workout">
              
            </div>
          
            <!-- Meal Tab Content -->
            <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-div_color overflow-y-auto" id="meal">
              
            </div>
          </div>
        </div>
      </div>

      <div class="w-full h-96 overflow-y-auto dark:bg-div_color border border-gray-500 rounded-lg shadow-lg">
        <h1 class="px-10 py-5 font-bold text-lg">
          Student Activity
        </h1>
        <div>
          <span>
            <div class="px-10 pt-5 text-lg">mm/dd/yyyy</div>
          </span>
          <div class="font-thin flex-col px-10 py-5 text-lg">
            <div class="flex justify-around items-center border-b-[1px] mb-2 py-2 text-sm">
              <div><img class="w-8 h-8 rounded-full" src="../../img/heinzprof.jpg" alt="user photo"></div>
              <div class="font-semibold">Eric Ramuniz</div>
              <div>completed Jakol workout</div>
            </div>
            <div class="flex justify-around items-center border-b-[1px] mb-2 py-2 text-sm">
              <div><img class="w-8 h-8 rounded-full" src="../../img/heinzprof.jpg" alt="user photo"></div>
              <div class="font-semibold">Eric Ramuniz</div>
              <div>completed Jakol workout</div>
            </div>
            <div class="flex justify-around items-center border-b-[1px] mb-2 py-2 text-sm">
              <div><img class="w-8 h-8 rounded-full" src="../../img/heinzprof.jpg" alt="user photo"></div>
              <div class="font-semibold">Eric Ramuniz</div>
              <div>completed Jakol workout</div>
            </div>
            <div class="flex justify-around items-center border-b-[1px] mb-2 py-2 text-sm">
              <div><img class="w-8 h-8 rounded-full" src="../../img/heinzprof.jpg" alt="user photo"></div>
              <div class="font-semibold">Eric Ramuniz</div>
              <div>completed Jakol workout</div>
            </div>
          </div>
        </div>
    </div>
  </div>

  <div class="container p-4 shadow-lg">
    <h2 class="text-white text-2xl font-bold mb-4 mt-10">Overview</h2>
    <div class="bg-div_color p-6 rounded-lg shadow-xl w-full border-gray-500 border">
      <canvas id="myChart" class="bg-div_color"></canvas>
    </div>
  </div>



</body>

<script src="../../scripts/trainer.js"></script>
<script>
  let trainerid;
  document.addEventListener('DOMContentLoaded', () => {
    id = window.userId;

    // Fetch and assign member information when the page loads
    fetchTrainerInfo();
    function fetchTrainerInfo() {
      console.log(id)
      axios.get('http://localhost:3000/getTrainerInfo', {
        params: {
          user_id: id
        }
      })
        .then(response => {
          var trainerData = response.data[0];
          trainerid = trainerData.trainer_id;
          console.log(response.data[0])
          console.log(trainerid)
          document.getElementById("user-name").textContent = response.data[0].firstname
        })
        .catch(error => {
          console.error('Error fetching trainer info:', error);
        });
    }
  });
  function redirectFunction(path) {
    if (path == 1) {
      setCookie('trainer_id', trainerid, 1); // Expires in 1 day
      window.location.href = 'trainerWorkoutPlan.html';
    }else{
      setCookie('trainer_id', trainerid, 1); // Expires in 1 day
      window.location.href = 'trainerMealPlan.html';
    }
  }
  function setCookie(name, value, days) {
    let expires = "";
    if (days) {
      var date = new Date();
      date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000)); // Days to milliseconds
      expires = "; expires=" + date.toUTCString();
    }
    document.cookie = name + "=" + (value || "") + expires + "; path=/";
  }

  function removeCookie(name) {
    console.log("clicked")
    document.cookie = name + '=; Max-Age=0; path=/';
  }










  // Get tab elements
  var workoutTab = document.getElementById("workout-tab");
  var mealTab = document.getElementById("meal-tab");

  // Get tab content elements
  var workoutTabContent = document.getElementById("workout");
  var mealTabContent = document.getElementById("meal");

function studentProgress(element) {

  // Workout tab content
  workoutTabContent.innerHTML = `
    <span>
      <div>mm/dd/yyyy</div>
    </span>
    <div class="font-thin flex-col">
      <div class="border-b-[1px] mb-2 py-2">Push-up</div>
      <div class="border-b-[1px] mb-2 py-2">Pull-up</div>
      <div class="border-b-[1px] mb-2 py-2">Push-up</div>
      <div class="border-b-[1px] mb-2 py-2">Pull-up</div>
      <div class="border-b-[1px] mb-2 py-2">Push-up</div>
      <div class="border-b-[1px] mb-2 py-2">Pull-up</div>
    </div>
  `;

  // Meal tab content
  mealTabContent.innerHTML = `
    <span>
      <div>mm/dd/yyyy</div>
    </span>
    <div class="font-thin flex-col">
      <div class="border-b-[1px] mb-2 py-2">Chicharon</div>
      <div class="border-b-[1px] mb-2 py-2">Yipyap</div>
      <div class="border-b-[1px] mb-2 py-2">Chippy</div>
      <div class="border-b-[1px] mb-2 py-2">Sting</div>
      <div class="border-b-[1px] mb-2 py-2">Cobra</div>
      <div class="border-b-[1px] mb-2 py-2">Tubig canal</div>
    </div>
  `;

  // Activate workout tab and hide meal tab
  workoutTab.classList.add("bg-[#5F6163]");
  workoutTabContent.classList.add("h-64");
  workoutTabContent.classList.remove("hidden");
  mealTabContent.classList.add("h-64", "hidden");
  mealTab.classList.remove("bg-[#5F6163]");

  var studentName = element.querySelector('.student-name').innerText;
  document.getElementById('student').innerHTML = `${studentName} progress`;
  
  

  showName.innerText = `${getName.innerText} progress`;
}

// Function to handle tab switching
function tabChange(tabType) {
  if (tabType === 'meal') {
    // Activate meal tab and hide workout tab
    workoutTab.classList.remove("bg-[#5F6163]");
    workoutTabContent.classList.add("hidden");
    mealTabContent.classList.remove("hidden");
    mealTab.classList.add("bg-[#5F6163]");
  } else if (tabType === 'workout') {
    // Activate workout tab and hide meal tab
    mealTab.classList.remove("bg-[#5F6163]");
    workoutTabContent.classList.remove("hidden");
    mealTabContent.classList.add("hidden");
    workoutTab.classList.add("bg-[#5F6163]");
  }
}

</script>

</html>