<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Admin | Flexperience</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="../../dist/tailwind.css" rel="stylesheet">
  <style>
    .page_title {
        border-bottom: 2px solid;
        border-image: linear-gradient(to right, #EC7E4A 50%, transparent 50%) 1;
    }
    .sidebar, .sidebar-links{
        overflow-x: hidden;
    }
    .sidebar:hover .Menu {
      opacity: 1;
    }
    .sidebar:hover .menu-separator {
      transition-delay: 0s;
      transform: scaleX(0);
    }

    #view_pending th {
      padding-top: 12px;
      padding-bottom: 12px;
      background-color: #EC7E4A;
      color: white;
    }
    #view_pending tr:nth-child(even){background-color: #5F6163;}
    #view_pending td, #view_pending th {
      border: 1px solid #ddd;
      padding: 8px;
    }
  </style>
</head>
<body class="min-h-screen bg-[#343639] font-customFont ">
    <div id="content_container" class="">
        <aside class="sidebar fixed top-0 left-0 h-full w-[85px] flex flex-col overflow-y-hidden p-[25px_20px] transition-all duration-400 ease hover:w-[260px] bg-gradient-to-b from-50 via-[#1e1e1e] to-[#1e1e1e]">
            <div class="sidebar-header flex items-center">
            <img class="w-[42px] rounded-full" src="../img/Flexperience logo.png" alt="logo" />
            <h2 class="text-white text-xl font-semibold whitespace-nowrap ml-[23px]">Flexperience</h2>
            </div>
    
            <ul class="sidebar-links list-none mt-[20px] h-[80%] overflow-y-auto scrollbar-none">
            <h4 class="text-white font-medium whitespace-nowrap my-[10px] relative">
                <span class="Menu opacity-0 delay-0">Main Menu</span>
                <div class="menu-separator transition absolute left-0 top-1/2 w-full h-[1px] bg-black transform translate-y-[-50%] menu-separator delay-100"></div>
            </h4>
    
            <li>
                <a href="#" class="flex items-center gap-x-[20px] text-white font-medium whitespace-nowrap py-[15px] px-[10px] no-underline transition ease-in-out duration-200 hover:text-[#161a2d] hover:bg-[#FFFFFF]  hover:rounded-[4px]"><span class="material-symbols-outlined"> dashboard </span>Dashboard</a>
            </li>
            <li>
                <a href="workoutplans.html" class="flex items-center gap-x-[20px] text-white font-medium whitespace-nowrap py-[15px] px-[10px] no-underline transition ease-in-out duration-200 hover:text-[#161a2d] hover:bg-[#FFFFFF]  hover:rounded-[4px]"><span class="material-symbols-outlined"> fitness_center </span>Trainers</a>
            </li>
            <li>
                <a href="students.html" class="flex items-center gap-x-[20px] text-white font-medium whitespace-nowrap py-[15px] px-[10px] no-underline transition ease-in-out duration-200 hover:text-[#161a2d] hover:bg-[#FFFFFF]  hover:rounded-[4px]"><span class="material-symbols-outlined">groups</span>Students/Members</a>
            </li>
            <li>
                <a href="#" class="flex items-center gap-x-[20px] text-white font-medium whitespace-nowrap py-[15px] px-[10px] no-underline transition ease-in-out duration-200 hover:text-[#161a2d] hover:bg-[#FFFFFF] hover:rounded-[4px]"><span class="material-symbols-outlined">settings</span>Settings</a>
            </li>
        </aside>
    
        <div class="title_div">
            <h1 class="text-white p-[20px] shadow-[2px_3px_rgb(39,39,39)] pt-[20px] mb-[20px] text-base font-light pl-[100px] bg-gradient-to-l from-[#1e1e1e] via-[#1e1e1e] to-[#343639]">
                <span class="page_title font-normal">
                    Admin Dashboard
                </span>
            </h1>
        </div>
    
        <div class="pl-[120px] pt-[40px] text-white font-sans">
            Good day, <br>
            <span class="text-4xl font-bold font-customFont">Admin!</span>
        </div>
    
        <div class="pl-[120px] pt-20 flex gap-5">
            <button class="text-2xl w-auto h-36 bg-50 hover:bg-white rounded-lg p-5">
                Registered Gym(s): 
                <span class="font-bold">1 melyon</span>
            </button>
            <button onclick="view_Pending()" class="text-2xl w-auto h-36 bg-50 hover:bg-white rounded-lg p-5">
                Pending Registration(s): 
            </button>
        </div>
    </div>

    <div id="view_pending" class="fixed top-[40%] left-[50%] transform -translate-x-1/2 -translate-y-1/2 mr-auto ml-auto mt-[50px] w-fit p-[20px] shadow-lg bg-[#323538] rounded-[10px] border border-[#EC7E4A] invisible">
        <div class="title_and_button flex justify-between mb-[20px]"> 
            <h1 class="text-2xl text-white">Gym Registration Details</h1>
        </div>
        <div>
            <table class="w-[1000px] text-white">
                <tr class="text-center">
                    <th>Gym Name</th>
                    <th>Owner</th>
                    <th>Registered Date</th>
                    <th>Actions</th>
                </tr>
                <tr class="text-center">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><button onclick="" class="text-white p-[10px] bg-[#373D41] shadow-[1px_2px_4px_black] border border-[#EC7E4A] rounded-[10px] hover:text-white hover:bg-[#EC7E4A] hover:p-[10px] hover:rounded-[10px] hover:w-fit">View</button></td>
                </tr>
            </table>
            <div class="button_div text-center">
                <input class="button text-white mt-[20px] bg-[#323538] w-[30%] p-[10px] rounded-[10px] shadow-[1px_2px_4px_black] border border-[#EC7E4A] hover:text-white hover:bg-black hover:w-[30%] hover:p-[10px] hover:rounded-[10px]" type="button" value="CLOSE" onclick="close_Pending()">
            </div>
        </div>
    </div>
</body>
</html>
<script src="../../scripts/registration.js"></script>