<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member Workout Dashboard</title>
    <link rel="stylesheet" href="../../dist/tailwind.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body class="bg-gray-100 font-sans leading-normal tracking-normal">

    <!-- Sidebar -->
    <div class="flex h-screen">
        <aside class="w-64 bg-gray-800 text-white">
            <div class="p-4">
                <h1 class="text-2xl font-bold mb-4">Dashboard</h1>
                <nav>
                    <ul>
                        <li class="mb-2"><a href="#" class="flex items-center p-2 text-gray-300 hover:text-white"><i
                                    class="fas fa-tachometer-alt mr-2"></i> Dashboard</a></li>
                        <li class="mb-2"><a href="#" class="flex items-center p-2 text-gray-300 hover:text-white"><i
                                    class="fas fa-dumbbell mr-2"></i> Workouts</a></li>
                        <li class="mb-2"><a href="#" class="flex items-center p-2 text-gray-300 hover:text-white"><i
                                    class="fas fa-calendar-alt mr-2"></i> Schedule</a></li>
                        <li class="mb-2"><a href="#" class="flex items-center p-2 text-gray-300 hover:text-white"><i
                                    class="fas fa-user-cog mr-2"></i> Profile</a></li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- Main Content -->
        <main class="flex-1 p-4 grid grid-cols-1 md:grid-cols-2 gap-2">
            <div class="bg-gray-800 p-4 rounded-lg shadow-md flex flex-row space-x-10 justify-center">
                
                <div class="bg-yellow-600 p-4 rounded-lg shadow-md mb-4 text-white font-semibold w-56 h-44">Content
                    A</div>
                <div class="bg-yellow-600 p-4 rounded-lg shadow-md mb-4 text-white font-semibold w-56 h-44">Content
                    B</div>
            </div>
            
            <div class="bg-gray-800 p-4 rounded-lg shadow-md">
                <h2 class="text-white text-lg font-semibold">Section 2</h2>
                <p class="text-white">Content for section 2.</p>
            </div>
            <div class="bg-gray-800 p-4 rounded-lg shadow-md col-span-1 md:col-span-2">
                <h2 class="text-white text-4xl font-bold">TODAYS <span class="text-yellow-600">WORKOUT</span></h2>

            </div>
        </main>

    </div>
</body>

</html>