<!DOCTYPE html>
<html>

<head>
  <title>Leaflet Map - Davao City Gyms</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-routing-machine/3.2.12/leaflet-routing-machine.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="../../dist/tailwind.css">


  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-routing-machine/3.2.12/leaflet-routing-machine.js"></script>

  <style>
    #map {
      height: 600px;
      flex: 1;
      border-radius: 8px;
    }

    .box {
      background-color: #3b3b3b;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      flex: 1;
      min-width: 45%;
      margin-bottom: 20px;
    }

    .leaflet-container {
      z-index: 1;
    }
  </style>
</head>
  
<body class="flex items-center justify-center min-h-screen m-0 bg-black">
  <div class="w-full items-center bg-customGray p-5 shadow-md">
    <div class="mb-5 flex gap-2">
      <button id="gyms" class="toggle-btn bg-customOrange hover:bg-orange-700 text-white py-2 px-4 rounded"
        onclick="showSection('gymsCity','gyms')">
        <i class="fas fa-city"></i> <i class="fas fa-dumbbell"></i>
      </button>
      <button id="nearby" class="toggle-btn bg-customOrange hover:bg-orange-700 text-white py-2 px-4 rounded"
        onclick="showSection('nearbyGyms','nearby')">
        <i class="fas fa-map-marker-alt"></i> <i class="fas fa-dumbbell"></i>
      </button>
      <button id="areas" class="toggle-btn bg-customOrange hover:bg-orange-700 text-white py-2 px-4 rounded"
        onclick="showSection('recreationalAreas','areas')">
        <i class="fas fa-tree"></i> <i class="fas fa-running"></i>
      </button>

    </div>

    <div class="container grid grid-cols-1 md:grid-cols-3 gap-4 w-full h-full">
      <!-- Map section -->
      <div id="map" class="relative col-span-2 h-[600px] bg-gray-800 rounded-lg">
        <!-- Overlay div -->
        <div id="overlay"
          class="absolute bottom-0 right-0 w-11/12 md:w-3/4 lg:w-4/5 p-4 bg-customGray rounded-tl-lg text-white hidden"
          style="z-index: 9999;">
          <button id="closeView" class="close-button" aria-label="Close">
            <i class="fas fa-times"></i> <!-- Font Awesome close icon -->
          </button>
          <div class="street-card mb-2 p-2 bg-gray-200 rounded-lg"></div>
        </div>

        <div id="overlay2"
          class="absolute bottom-0 left-0 w-11/12 md:w-1/2 lg:w-1/3 p-2 bg-customGray text-white rounded-tr-2xl hidden"
          style="z-index: 9999;">
        </div>


      </div>

      <div class="flex flex-col gap-4">
        <!-- Nearby Gyms section -->
        <div id="nearbyGyms" class="section bg-customOrange w-full max-h-[600px] overflow-y-auto p-4 rounded-lg hidden">
          <!-- Location input section -->
          <div class="mb-5 flex gap-0">
            <input type="text" id="address" class="bg-white text-gray-800 px-4 py-2 rounded-tl-lg rounded-bl-lg"
              placeholder="Starting point">
            <button id="locateBtn"
              class="bg-customGray hover:bg-orange-800 text-white py-2 px-4 rounded-tr-lg rounded-br-lg"
              onclick="">Mark</button>
          </div>
          <h2 class="text-2xl mb-5 text-white">Nearby Gyms</h2>
          <ul class="list-none p-0 m-0" id="nearestGymsList"></ul>
        </div>

        <!-- Gyms Around the City section -->
        <div id="gymsCity" class="section bg-customOrange w-full max-h-[600px] overflow-y-auto p-4 rounded-lg">
          <h2 class="text-2xl mb-5 text-white">Gyms Around the City</h2>
          <ul class="list-none p-0 m-0" id="all-gyms"></ul>
        </div>

        <!-- Recreational Areas section -->
        <div id="recreationalAreas"
          class="section bg-customOrange w-full max-h-[600px] overflow-y-auto p-4 rounded-lg hidden">
          <h2 class="text-2xl mb-5 text-white">Recreational areas</h2>
          <ul class="list-none p-0 m-0" id="all-park"></ul>
        </div>
      </div>
    </div>


    <button id="showLoc"
      class="bg-customOrange hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4 transition duration-300 hidden">
      Hiding Directions
    </button>
  </div>
</body>
<script src="/frontend/scripts/map.js"></script>

</html>