<!DOCTYPE html>
<html>

<head>
  <title>Gyms in Davao</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-routing-machine/3.2.12/leaflet-routing-machine.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="../../dist/tailwind.css">

  <!--FONTS-->
  <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-routing-machine/3.2.12/leaflet-routing-machine.js"></script>

  <style>
    #map {
      height: 600px;
      flex: 1;
      border-top-right-radius: 8px;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  </style>
</head>
  
<body class="font-[Poppins] items-center justify-center min-h-screen m-0 bg-customBodyColor scrollbar scrollbar-thumb-customGray">
  <!--iinsert lng dnhia tung navbar ni charls, itry copypaste if mabungkag awww mano.x-->

  <div class="flex items-center justify-center text-white mt-8 mb-8">
    <h1 class="text-4xl font-bold">Discover <span class="auto-type text-customOrange"></span></h1>
  </div>

  <div class="w-full items-center bg-customBodyColor p-5 shadow-md">
    <div class="flex gap-2">
      <button id="gyms" class="toggle-btn bg-customGray1 hover:bg-customGray text-white py-2 px-4 rounded rounded-bl-none rounded-br-none"
        onclick="showSection('gymsCity','gyms')">
        <i class="fas fa-city mr-1"></i> Gyms around the city
      </button>
      <button id="nearby" class="toggle-btn bg-customGray1 hover:bg-customGray text-white py-2 px-4 rounded rounded-bl-none rounded-br-none"
        onclick="showSection('nearbyGyms','nearby')">
        <i class="fas fa-dumbbell mr-1"></i> Nearby gyms
      </button>
      <button id="areas" class="toggle-btn bg-customGray1 hover:bg-customGray text-white py-2 px-4 rounded rounded-bl-none rounded-br-none"
        onclick="showSection('recreationalAreas','areas')">
        <i class="fas fa-running mr-1"></i> Recreational areas
      </button>
      <button id="trackLocation" class="toggle-btn bg-customGray1 hover:bg-customGray text-white py-2 px-4 rounded rounded-bl-none rounded-br-none">
        <i class="fas fa-crosshairs mr-1"></i> Live location
      </button>      
      
    </div>

    <div class="container grid grid-cols-1 md:grid-cols-3 gap-4 w-full h-full">
      <!-- Map section -->
      <div id="map" class="relative col-span-2 h-[600px] bg-customGrayBtn">
        
        <!-- Overlay div PARA SA STREET VIEW -->
        <div id="overlay"
          class="absolute bottom-0 right-0 w-[40rem] h-[20rem] sm:h-[20rem] p-4 bg-customBodyColor rounded-tl-lg text-white hidden"
          style="z-index: 9999;">
          <button id="closeView" class="close-button" aria-label="Close">
            <i class="fas fa-times"></i> <!-- Font Awesome close icon -->
          </button>
          <div class="street-card mb-2 p-2 bg-gray-200 rounded-lg"></div>
        </div>

        <!-- Overlay div PARA SA INFO CARD -->
        <div id="overlay2"
          class="absolute bottom-0 right-0 w-72 lg:w-72 lg:h-[24rem] sm:w-full sm:h-[18rem] sm:rounded-tr-2xl p-2 bg-customGrayBtn scrollbar scrollbar-thumb-customGray scrollbar-track-customBodyColor overflow-auto text-white rounded-tl-2xl hidden"
          style="z-index: 9999;">
        </div>


      </div>

      <div class="flex flex-col gap-4">
        <!-- Nearby Gyms section -->
        <div id="nearbyGyms" class="section bg-customGrayBtn w-full max-h-[600px] overflow-y-auto p-4 rounded-lg hidden scrollbar scrollbar-thumb-customGray scrollbar-track-customBodyColor">
          <!-- Location input section -->
          <div class="mb-5 space-y-4">
            <input type="text" id="address" class="bg-white text-gray-800 w-full px-4 py-2 rounded-lg" placeholder="Starting point">
            <input type="text" id="destination" class="bg-white text-gray-800 w-full px-4 py-2 rounded-lg" placeholder="Destination">
            <button id="locateBtn" class="bg-customGray hover:bg-customGray1 text-white w-full py-2 px-4 rounded-lg" onclick="">Get Directions</button>
          </div>
          <h2 class="text-2xl mb-5 text-white">Nearby gyms</h2>
          <ul class="list-none p-0 m-0" id="nearestGymsList"></ul>
        </div>

        <!-- Gyms Around the City section -->
        <div id="gymsCity" class="section bg-customBodyColor w-full max-h-[600px] overflow-y-auto p-4 rounded-lg scrollbar scrollbar-thumb-customGray scrollbar-track-customBodyColor">
          <h2 class="text-2xl mb-5 text-white">Gyms Around the City</h2>
          <ul class="list-none p-0 m-0" id="all-gyms"></ul>
        </div>

        <!-- Recreational Areas section -->
        <div id="recreationalAreas"
          class="section bg-customBodyColor w-full max-h-[600px] overflow-y-auto p-4 rounded-lg hidden scrollbar scrollbar-thumb-customGray scrollbar-track-customBodyColor">
          <h2 class="text-2xl mb-5 text-white">Recreational areas</h2>
          <ul class="list-none p-0 m-0" id="all-park"></ul>
        </div>
      </div>
    </div>


    <button id="showLoc"
      class="bg-customGray hover:bg-customGray1 text-white font-bold py-2 px-4 rounded mt-4 transition duration-300 hidden">
      Hiding Directions
    </button>
  </div>
</body>
<script src="/capstone/frontend/scripts/map.js"></script>

</html>