<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flexperience</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="../../dist/tailwind.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link
        href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

    body {
        background-image: url(../img/Black\ and\ White\ Modern\ Minimalist\ Creative\ Portfolio\ Our\ Service\ Page\ Website\ Design\ Prototype\ 2.png);
        background-blend-mode: overlay;
    }

    html {
        overflow-x: hidden;
        scroll-behavior: smooth;
    }

    li {
        text-decoration: none;
        color: white;
        letter-spacing: 0.5px;
    }

    li:after {
        content: "";
        position: absolute;
        background-color: white;
        height: 3px;
        width: 0;
        left: 0;
        bottom: -10px;
        transition: 0.3s;
    }

    li:hover {
        color: white;
    }

    li:hover:after {
        width: 100%;
    }

    .box {
        width: 250px;
        height: 280px;
        margin: 0px 5px;
        transition: 1s;
        border-radius: 10px;
    }

    .box:hover {
        transform: scale(1.1);
        z-index: 2;
        box-shadow: 1px 1px 20px 6px #EC7E4A;
    }
</style>

<body class="bg-[#1E1E1E] font-[Poppins]">


    <header class="fixed h-[100px] z-10 w-full flex bg-guestNavbar justify-between drop-shadow-lg px-4 lg:px-10">
        <div class="relative">
            <img class="w-[250px] lg:w-[450px] mix-blend-overlay" src="../../views/img/nav_img.png" alt="">
        </div>
        <div class="absolute left-8 lg:left-20 top-4 h-16 w-16 text-xl pt-5">
            <b
                class="text-lg lg:text-2xl bg-gradient-to-r from-white to-forGradientWhite text-transparent bg-clip-text">FLEXPERIENCE</b>
        </div>
        <nav class="text-white pt-5 hidden lg:block">
            <ul class="flex space-x-5">
                <li><a href="#section1" class="no-underline text-sm lg:text-base">Gym</a></li>
                <li><a href="#section2" class="no-underline text-sm lg:text-base">Member</a></li>
                <li><a href="#section3" class="no-underline text-sm lg:text-base">Trainer</a></li>
                <li><a href="#section4" class="no-underline text-sm lg:text-base">About</a></li>
            </ul>
        </nav>
        <div class="pl-5 pr-10 text-50 pt-5">
            <button onclick="window.location.href='../../views/Landing page/signup.html'"
                class="inline-block border border-[#343639] rounded-full px-5 py-2 hover:bg-50 hover:text-white duration-300">
                Register Now
            </button>
        </div>
    </header>


    <div
        class="w-full h-auto flex flex-row md:flex-row items-center justify-between min-h-screen mb-[200px] px-4 lg:px-16">
        <div class="mt-32 flex flex-col items-start lg:items-start gap-6">

            <div class="text-white text-2xl lg:text-4xl" data-aos="fade-right">
                <b>Your workout, <br>
                    your way, <br>
                    your location.</b>
            </div>
            <div class="text-white text-sm lg:text-base" data-aos="fade-right">
                Flexperience goes beyond just finding a gym— </br>
                offers exclusive benefits when you subscribe!
            </div>
            <div onclick="window.location.href='../../maps/index.html'"
                class="flex flex-row mt-4 bg-white border border-[#343639] rounded-full px-4 py-1 hover:bg-50 hover:text-white cursor-pointer"
                data-aos="fade-right">
                <div class="flex gap-3">
                    <lord-icon class="w-auto" src="https://cdn.lordicon.com/iikoxwld.json" trigger="loop"
                        colors="primary:#e83a30" style="width:20px;height:20px">
                    </lord-icon>
                    <span class="ml-2">Discover Davao's fitness havens</span>
                </div>
            </div>
        </div>
        <div class="mt-28 lg:mt-10">
            <img class="move w-full lg:w-5/6" src="../../views/img/map.png" alt="cannot load" data-aos="fade-left"
                data-speed="-3">
        </div>
    </div>


    <!-- Section 1: Gym -->
    <section id="section1" class="flex flex-col lg:flex-row items-center lg:mb-[130px] lg:px-16 px-4">
        <div class="w-full lg:w-1/2 mt-10 lg:mt-10" data-aos="fade-right">
            <img class="w-full lg:w-[80%] h-auto" src="../../views/img/bench-press.png" alt="cannot load">
        </div>
        <div class="text-white lg:ml-10 mt-10 lg:mt-40" data-aos="fade-left">
            <span class="text-2xl lg:text-4xl font-semibold">Want to see your gym thrive?</span>
            <br><br>
            <span class="text-lg lg:text-2xl font-thin">
                Transform Your Gym's Future.<br>
                <a href="register.html" class="text-50 underline font-bold">Register Today!</a>
            </span>
            <div class="w-full lg:w-[80%] h-auto flex shadow-lg border rounded-md bg-[#222121] mt-8 lg:mt-16 p-6"
                data-aos="fade-up">
                <div class="text-2xl lg:text-4xl">
                    99999+<br>
                    <span class="text-lg lg:text-2xl">Total Gym Registered</span>
                </div>
            </div>
        </div>
    </section>

    <!-- Section 2: Member -->
    <section id="section2" class="flex flex-col lg:flex-row items-center lg:mb-[130px] lg:px-16 px-4">
        <div class="relative w-full lg:w-1/2" data-aos="fade-right">
            <img src="../../views/img/paint.png" class="w-full h-auto md:w-full md:h-auto" alt="cannot load">
            <div class="absolute top-32 left-6 lg:left-40 text-white text-xl lg:text-5xl mt-10">
                Transform your <br> fitness into shape.
                <div class="mt-5 text-left text-sm lg:text-xl" data-aos="fade-up">
                    <span>Your fitness journey starts now. </span><br>
                    <a href="#" class="text-50 underline">Log in</a> to explore.
                </div>
            </div>
        </div>
        <div class="w-full lg:w-1/2 mt-16 lg:mt-0" data-aos="fade-left">
            <img class="w-full h-auto" src="../../views/img/push-up.png" alt="cannot load">
        </div>
    </section>

    <!-- Section 3: Trainer -->
    <section id="section3" class="flex flex-col lg:flex-row items-center lg:mb-[130px] lg:px-16 px-4">
        <div class="w-full lg:w-1/2 mt-10 lg:mt-0" data-aos="fade-right">
            <img class="w-full lg:w-[80%] h-auto" src="../../views/img/bench-press.png" alt="cannot load">
        </div>
        <div class="text-white lg:ml-10 mt-10 lg:mt-40" data-aos="fade-left">
            <span class="text-2xl lg:text-4xl font-semibold">Are you a trainer?</span>
            <br><br>
            <span class="text-lg lg:text-2xl font-thin">
                Grow your client base and unleash your training potential on Flexperience!<br>
                <a href="#" class="text-50 underline">Join here.</a>
            </span>
            <div class="w-full lg:w-auto h-auto flex flex-wrap shadow-xl rounded-md bg-[#222121] mt-8 lg:mt-16 p-6"
                data-aos="fade-up">
                <div class="text-2xl lg:text-4xl mr-12">
                    50+<br>
                    <span class="text-lg lg:text-2xl">Total Members</span>
                </div>
                <div class="text-2xl lg:text-4xl">
                    50+<br>
                    <span class="text-lg lg:text-2xl">Trainers</span>
                </div>
            </div>
        </div>
    </section>

    <!-- Section 4: About -->
    <section id="section4" class="flex flex-col lg:flex-row items-center justify-center lg:px-16 px-4">
        <div class="text-white lg:ml-10 mt-10 lg:mt-28 text-center lg:text-center">
            <div data-aos="fade-down">
                <span class="text-2xl lg:text-4xl font-bold">
                    Why Flexperience?
                </span>
                <br>
                <br>
                <span class="text-lg lg:text-2xl font-light">
                    It is your all-in-one fitness companion. <br>
                    Find gyms, create routines, and fuel your body.
                </span>
                <br>
                <br>
                <br>
                <span class="text-base lg:text-lg">
                    Separated UI’s for members and trainers.
                </span>
            </div>
            <div class=" flex flex-row lg:flex lg:flex-row lg:justify-center items-center mt-8 lg:mt-16 gap-10 lg:gap-16 w-full lg:w-auto">
                <div data-aos="fade-right">
                    <div class="box">
                        <button>
                            <img src="../../views/img/student-ui.png" alt="" class="w-52 h-40 lg:w-auto lg:h-auto hover:scale-105 duration-300">
                        </button>
                    </div>
                </div>
                <div data-aos="fade-left">
                    <div class="box">
                        <button>
                            <img class="w-82 h-72 hover:w-96 duration-500" src="../../views/img/trainer-ui.png" alt="" class="w-52 h-40 lg:w-82 lg:h-72 hover:scale-105 duration-300">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class=" flex text-white relative">
        <img class="w-auto h-auto opacity-25" src="../../views/img/paint3.png" alt="cannot load">
        <div class="absolute mr-44 top-24 left-48 text-5xl font-bold" data-aos="fade-right">
            What <br>
            Flexperience <br>
            offers
        </div>
        <div class="pt-32" data-aos="fade-left">
            <div>
                We are consistently improving our offering of services, and pride ourselves on creating connections
                with
                the members and trainers and delivering the most personalized fitness experience possible.
            </div>
        </div>
    </div>

    <div class="flex justify-between pl-20 pr-20 pb-52 text-white bg-[#1E1E1E] drop-shadow-xl">
        <div class="w-64 h-44  rounded-xl"
            style="background: rgb(137,135,135);background: linear-gradient(90deg, rgba(137,135,135,1) 0%, rgba(39,37,37,1) 50%);"
            data-aos="fade-up">
            <lord-icon class="top-2 rounded-md" src="https://cdn.lordicon.com/iikoxwld.json" trigger="loop"
                colors="primary:white" style="width:80px;height:50px">
            </lord-icon>
            <br>
            <b class="pl-4 text-xl">
                Gym Locator
            </b>
            <p class="pl-4 pr-4 pt-2 text-xs">
                Flexperience offers maps for you to navigate fitness gyms around you.
            </p>
        </div>

        <div class="w-64 h-44   rounded-xl"
            style="background: rgb(137,135,135);background: linear-gradient(90deg, rgba(137,135,135,1) 0%, rgba(39,37,37,1) 50%);"
            data-aos="fade-up">
            <lord-icon class="top-2 rounded-md" src="https://cdn.lordicon.com/oxbjzlrk.json" trigger="loop" delay="100"
                colors="primary:white,secondary:white" style="width:80px;height:50px">
            </lord-icon>
            <br>
            <b class="pl-4 text-xl">
                Recreational Areas
            </b>
            <p class="pl-4 pr-4 pt-2 text-xs">
                Flexperience offers maps for you to navigate recreational areas near you for you to exercise.
            </p>
        </div>

        <div class="w-64 h-44  rounded-xl"
            style="background: rgb(137,135,135);background: linear-gradient(90deg, rgba(137,135,135,1) 0%, rgba(39,37,37,1) 50%);"
            data-aos="fade-up">
            <lord-icon class="top-2" src="https://cdn.lordicon.com/zzdcdltp.json" trigger="loop"
                colors="primary:white,secondary:white" style="width:84px;height:50px">
            </lord-icon>
            <br>
            <b class="pl-4 text-xl">
                Workout Plans
            </b>
            <p class="pl-4 pr-4 pt-2 text-xs">
                Flexperience offers workout plans and even more better with customized workout plans that is only
                for
                you.
            </p>
        </div>

        <div class="w-64 h-44   rounded-xl"
            style="background: rgb(137,135,135);background: linear-gradient(90deg, rgba(137,135,135,1) 0%, rgba(39,37,37,1) 50%);"
            data-aos="fade-up">
            <lord-icon class="top-2" src="https://cdn.lordicon.com/fmclztgv.json" trigger="loop"
                colors="primary:white,secondary:white" style="width:80px;height:50px">
            </lord-icon>
            <br>
            <b class="pl-4 text-xl">
                Meal Plans
            </b>
            <p class="pl-4 pr-4 pt-2 text-xs">
                Flexperience offers meal plans and even more better with customized meal plans that is only for you.
            </p>
        </div>
    </div>
</body>

<footer class="bg-[#1E1E1E] flex shadow-inner text-white mb-20" data-aos="fade">
    <div class="w-2/4 h-auto pt-40 pl-20">
        <b
            class="text-3xl bg-clip-text bg-gradient-to-r from-white to-forGradientWhite text-transparent">FLEXPERIENCE</b>
        <br>
        <br>
        <div class="text-sm">
            LoremipsumLoremipsumLoremipsumLoremipsum <br>
            LoremipsumLoremipsumLoremipsumLoremipsumLoremipsum <br>
        </div>
        <br>
        <div class="flex">
            <button>
                <lord-icon class="mr-3" src="https://cdn.lordicon.com/ewswvzmw.json" trigger="hover"
                    colors="primary:#ffffff,secondary:#ffffff" style="width:30px;height:30px">
                </lord-icon>
            </button>
            <button>
                <lord-icon class="mr-3" src="https://cdn.lordicon.com/iqagrlso.json" trigger="hover"
                    colors="primary:#ffffff,secondary:#ffffff" style="width:30px;height:30px">
                </lord-icon>
            </button>
            <button>
                <lord-icon class="mr-3" src="https://cdn.lordicon.com/lhscugaw.json" trigger="hover"
                    colors="primary:#ffffff,secondary:#ffffff" style="width:30px;height:30px">
                </lord-icon>
            </button>
        </div>

    </div>

    <div class="flex justify-between gap-10 pt-32 pb-10">
        <div class="">
            <b class="text-xl">About</b>
            <br>
            <br>
            <span class="text-sm">
                About Us

            </span>
            <br>
            <span class="text-sm">
                Features

            </span>
            <br>
            <span class="text-sm">
                News & Blog

            </span>
            <br>
            <span class="text-sm">
                Why Flexperience?

            </span>
            <br>
            <span class="text-sm">
                Terms & Agreements

            </span>
        </div>
        <div class="text-xl">
            <b>Support</b>
            <br>
            <br>
            <span class="text-sm">
                FAQ

            </span>
            <br>
            <span class="text-sm">
                Support customer

            </span>
            <br>
            <span class="text-sm">
                Contact Us

            </span>
            <br>
            <span class="text-sm">
                Privacy Policy

            </span>

        </div>
        <div class="text-xl">
            <b>Contact Us</b>
            <br>
            <br>
            <span class="text-sm">
                flexperinece@gmail.com

            </span>
            <br>
            <span class="text-sm">
                taga soraya tagiya ani

            </span>
        </div>
    </div>
</footer>

</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
<script src="https://cdn.lordicon.com/lordicon.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init({
        duration: 2000,
    });

    //lihok.x
    document.addEventListener('mousemove', move);
    function move(e) {
        this.querySelectorAll('.move').forEach(layer => {
            const speed = layer.getAttribute('data-speed')

            const x = (window.innerWidth - e.pageX * speed) / 120
            const y = (window.innerWidth - e.pageY * speed) / 120

            layer.style.transform = `translateX(${x}px) translateY(${y}px)`
        })
    }
</script>