<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flexperience</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="../../dist/tailwind.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<style>
    html{
        overflow-x: hidden;
        scroll-behavior: smooth;
    }
    li{
        text-decoration: none;
        color: white;
        letter-spacing: 0.5px;
    }
    li:after {
        content: "";
        position: absolute;
        background-color: white;
        height: 3px;
        width: 0;
        left: 0;
        bottom: -10px;
        transition: 0.3s;
    }
    li:hover{
        color: white;
    }
    li:hover:after{
        width: 100%;
    }
    .box{
        width: 250px;
        height: 280px;
        margin: 0px 5px;
        transition: 1s;
        border-radius: 10px;
    }
    .box:hover{
        transform: scale(1.1);
        z-index: 2;
        box-shadow: 1px 1px 20px 6px #EC7E4A;
    }
</style>
<body class="bg-[#1E1E1E] font-customFont">
    <img class="absolute top-0 left-0 w-full h-full object-cover opacity-20" src="../../views/img/Black and White Modern Minimalist Creative Portfolio Our Service Page Website Design Prototype 2.png" alt="cannot load">
    <header class="fixed h-[100px] w-full flex bg-guestNavbar justify-between drop-shadow-lg">
        <div class="relative">
            <img class="w-[450px] mix-blend-overlay" src="../../views/img/nav_img.png" alt="">
        </div>
        <div class="absolute left-20 top-4 h-16 w-16 text-xl pt-5">
            <b class="text-2xl bg-gradient-to-r from-white to-forGradientWhite text-transparent bg-clip-text">FLEXPERIENCE</b>
        </div>
        <div class="text-white pt-5">
            <ul class="ml-[21% pl-20">
                <li class="relative mt-[10px] list-none inline-block pl-3 pr-3"><a href="#section1" class=" no-underline text-[15px] tracking-[0.5px] p-[0_30px]">Member</a></li>
                <li class="relative mt-[10px] list-none inline-block pl-3 pr-3"><a href="#section2" class=" no-underline text-[15px] tracking-[0.5px] p-[0_30px]">Trainer</a></li>
                <li class="relative mt-[10px] list-none inline-block pl-3 pr-3"><a href="#section3" class=" no-underline text-[15px] tracking-[0.5px] p-[0_30px]">About</a></li>
            </ul>
        </div>
        <div class="pl-5 pr-10 text-50 pt-5 ">
            <button class="inline-block border border-[#343639] rounded-full px-5 py-2 hover:bg-50 hover:text-white duration-300">
                Register Now
            </button>
        </div>
    </header>
    <div  class="w-auto h-auto flex items-center justify-between min-h-screen mb-[200px]">
        <div>
            <div class="text-white text-4xl ml-[200px]" data-aos="fade-right">
                <b>Your workout, <br>
                your way, <br>
                your location.</b>
            </div>
            <div class="flex ml-[200px] mt-4 bg-white border border-[#343639] rounded-full px-2 py-0.5 hover:bg-50 hover:text-white" data-aos="fade-right">
                <lord-icon
                    src="https://cdn.lordicon.com/iikoxwld.json" trigger="loop" colors="primary:#e83a30" style="width:20px;height:20px">
                </lord-icon>
                <button class="w-auto pr-3 flex justify-between hover:bg-50 hover:text-white"> Discover Davao's fitness havens</button>
            </div>
            <div>
                <img class="absolute opacity-20 w-auto h-[260px]" src="../../views/img/map2.png" alt="cannot load">
            </div>
        </div>
        <div>
            <img class="h-5/6 w-5/6 pt-40 opacity-80" src="../../views/img/map.png" alt="cannot load" data-aos="fade-left">
        </div>
    </div>
    <div id="section1" class="flex mb-[130px]">
        <div class="flex" data-aos="fade-right">
            <div class="relative">
                <img src="../../views/img/paint.png" alt="cannot load">
            </div>
            <div class="absolute ml-40">
                <div class="text-white mt-56 text-5xl">
                    Transform your <br>
                    fitness into <br>
                    shape.
                </div>
                <div class="mt-5 text-left" data-aos="fade-up">
                    <span class="text-white">
                        Your fitness journey starts now. <br>
                    </span>
                    <span class="text-50"> <a href="#">Log in</a></span> 
                    <span class="text-white">
                        to explore.
                    </span>
                </div>
            </div>
        </div>
        <div class="pt-16" data-aos="fade-left">
            <img src="../../views/img/push-up.png" alt="cannot load">
        </div>
    </div>
    <div>
        <img class="w-44 h-44 opacity-20" src="../../views/img/design-shape.png" alt="">
    </div>

    <div id="section2" class="flex mb-[130px]">
        <div class="mt-10" data-aos="fade-right">
            <img class="w-[80%] h-[90%]" src="../../views/img/bench-press.png" alt="cannot load">
        </div>
        <div class="text-white mt-40" data-aos="fade-left">
            <div>
                <span class="text-4xl font-semibold">Are you a trainer?</span> 
                <br> 
                <br>
                <span class="text-2xl font-thin">
                    Grow your client base and unleash your <br>
                    training potential on Flexperience! <br>
                    <span class="text-50"> <a href="#">Join here.</a></span>
                </span>
                <div class="w-auto h-auto flex shadow-xl rounded-md bg-[#222121]" data-aos="fade-up">
                    <div class="p-12 text-4xl">
                        50+
                        <br>
                        <span class="text-2xl">Total Members</span>
                    </div>
                    <div class="p-12 text-4xl">
                        50+
                        <br>
                        <span class="text-2xl">Trainers</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="section3" class="flex">
        <img class="relative w-2/4 h-2/4 items-start justify-start mt-10" src="../../views/img/paint2.png" alt="cannot load">
        <div class="absolute text-white table-column justify-center items-center w-screen mt-28 text-center">
            <div data-aos="fade-down">
                <span class="font-bold text-4xl">
                    Why Flexperience?
                </span>
                <br>
                <br>
                <span class="font-extralight">
                    It is your all-in-one fitness companion. <br>
                        Find gyms, create routines, and fuel your body.
                </span>
                <br>
                <br>
                <br>
                <span>
                    Separated UI’s for members and trainers.
                </span>
            </div>
            <div class=" flex gap-16 w-screen h-screen mt-2 justify-center">
                <div data-aos="fade-right">
                    <div class="box">
                        <button>
                            <img src="../../views/img/student-ui.png" alt="">
                        </button>
                    </div>
                </div>
                <div data-aos="fade-left">
                    <div class="box">
                        <button>
                            <img class="w-82 h-72 hover:w-96 duration-500" src="../../views/img/trainer-ui.png" alt="">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class=" flex text-white relative">
        <img class="w-auto h-auto opacity-25" src="../../views/img/paint3.png" alt="cannot load">
        <div class="absolute mr-44 top-24 left-48 text-5xl font-bold" data-aos="fade-right">
            What <br> 
            Flexperience <br> 
            offers
        </div>
        <div class="pt-32" data-aos="fade-left">
            <div>
                We are consistently improving our offering of services, and pride ourselves on creating connections with the members and trainers and delivering the most personalized fitness experience possible.
            </div>
        </div>
    </div>

    <div class="flex justify-between pl-20 pr-20 pb-52 text-white bg-[#1E1E1E] drop-shadow-xl">
        <div class="w-64 h-44  rounded-xl" style="background: rgb(137,135,135);background: linear-gradient(90deg, rgba(137,135,135,1) 0%, rgba(39,37,37,1) 50%);" data-aos="fade-up">
            <lord-icon
                class="top-2 rounded-md"
                src="https://cdn.lordicon.com/iikoxwld.json" trigger="loop" colors="primary:white" style="width:80px;height:50px">
            </lord-icon>
            <br>
            <b class="pl-4 text-xl">
                Gym Locator
            </b>
            <p class="pl-4 pr-4 pt-2 text-xs">
                Flexperience offers maps for you to navigate fitness gyms around you.
            </p>
        </div>

        <div class="w-64 h-44   rounded-xl" style="background: rgb(137,135,135);background: linear-gradient(90deg, rgba(137,135,135,1) 0%, rgba(39,37,37,1) 50%);" data-aos="fade-up">
            <lord-icon 
                class="top-2 rounded-md"
                src="https://cdn.lordicon.com/oxbjzlrk.json"
                trigger="loop"
                delay="100"
                colors="primary:white,secondary:white"
                style="width:80px;height:50px">
            </lord-icon>
            <br>
            <b class="pl-4 text-xl">
                Recreational Areas
            </b>
            <p class="pl-4 pr-4 pt-2 text-xs">
                Flexperience offers maps for you to navigate recreational areas near you for you to exercise.
            </p>
        </div>

        <div class="w-64 h-44  rounded-xl" style="background: rgb(137,135,135);background: linear-gradient(90deg, rgba(137,135,135,1) 0%, rgba(39,37,37,1) 50%);" data-aos="fade-up">
            <lord-icon
                class="top-2"
                src="https://cdn.lordicon.com/zzdcdltp.json"
                trigger="loop"
                colors="primary:white,secondary:white"
                style="width:84px;height:50px">
            </lord-icon>
            <br>
            <b class="pl-4 text-xl">
                Workout Plans
            </b>
            <p class="pl-4 pr-4 pt-2 text-xs">
                Flexperience offers workout plans and even more better with customized workout plans that is only for you.
            </p>
        </div>

        <div class="w-64 h-44   rounded-xl" style="background: rgb(137,135,135);background: linear-gradient(90deg, rgba(137,135,135,1) 0%, rgba(39,37,37,1) 50%);" data-aos="fade-up">
            <lord-icon
                class="top-2"
                src="https://cdn.lordicon.com/fmclztgv.json"
                trigger="loop"
                colors="primary:white,secondary:white"
                style="width:80px;height:50px">
            </lord-icon>
            <br>
            <b class="pl-4 text-xl">
                Meal Plans
            </b>
            <p class="pl-4 pr-4 pt-2 text-xs">
                Flexperience offers meal plans and even more better with customized meal plans that is only for you.
            </p>
        </div>
    </div>
</body>

<footer class="bg-[#1E1E1E] flex shadow-inner text-white mb-20" data-aos="fade">
    <div class="w-2/4 h-auto pt-40 pl-20">
        <b class="text-3xl bg-clip-text bg-gradient-to-r from-white to-forGradientWhite text-transparent" >FLEXPERIENCE</b>
        <br>
        <br>
        <div class="text-sm">
            LoremipsumLoremipsumLoremipsumLoremipsum <br>
            LoremipsumLoremipsumLoremipsumLoremipsumLoremipsum <br>
        </div>
        <br>
        <div class="flex">
            <button>
                <lord-icon
                    class="mr-3"
                    src="https://cdn.lordicon.com/ewswvzmw.json"
                    trigger="hover"
                    colors="primary:#ffffff,secondary:#ffffff"
                    style="width:30px;height:30px">
                </lord-icon>
            </button>
            <button>
                <lord-icon
                    class="mr-3"   
                    src="https://cdn.lordicon.com/iqagrlso.json"
                    trigger="hover"
                    colors="primary:#ffffff,secondary:#ffffff"
                    style="width:30px;height:30px">
                </lord-icon>
            </button>
            <button>
                <lord-icon
                    class="mr-3"
                    src="https://cdn.lordicon.com/lhscugaw.json"
                    trigger="hover"
                    colors="primary:#ffffff,secondary:#ffffff"
                    style="width:30px;height:30px">
                </lord-icon>
            </button>
        </div>

    </div>

    <div class="flex justify-between gap-10 pt-32 pb-10">
        <div class="">
            <b class="text-xl">About</b>
            <br>
            <br>
            <span class="text-sm">
                About Us

            </span>
            <br>
            <span class="text-sm">
                Features
                
            </span>
            <br>
            <span class="text-sm">
                News & Blog
                
            </span>
            <br>
            <span class="text-sm">
                Why Flexperience?
                
            </span>
            <br>
            <span class="text-sm">
                Terms & Agreements
                
            </span>
        </div>
        <div class="text-xl">
            <b>Support</b>
            <br>
            <br>
            <span class="text-sm">
                FAQ
                
            </span>
            <br>
            <span class="text-sm">
                Support customer
                
            </span>
            <br>
            <span class="text-sm">
                Contact Us
                
            </span>
            <br>
            <span class="text-sm">
                Privacy Policy
                
            </span>

        </div>
        <div class="text-xl">
            <b>Contact Us</b>
            <br>
            <br>
            <span class="text-sm">
                flexperinece@gmail.com
                
            </span>
            <br>
            <span class="text-sm">
                taga soraya tagiya ani
                
            </span>
        </div>
    </div>
</footer>
</html>

<script src="https://cdn.lordicon.com/lordicon.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init({
        duration: 2000,
    });
</script>